//--------------------------------------------------------------
// EDITOR STYLES
// CSS for just the Backend enqueued after style.scss
//--------------------------------------------------------------
@import '../../sass/mixins';

[data-type='wdsblocks/starter'] {
	margin-bottom: 0;
	margin-top: 0;

	.wp-block-wdsblocks-starter {

		@include edit-mode;
		@include preview-mode;

		&.edit-mode {
			border: 1px dashed $color-grey;
		} // &.edit-mode

		&.preview-mode {
			padding: 0;

			.block-list-appender {
				display: none;
			} // .block-list-appender
		} // &.preview-mode
	} // .wp-block-wdsblocks-starter
} // [data-type='wdsblocks/starter']
