//--------------------------------------------------------------
// Editor Styles
//
// Additional styles necessary to assist the editor.
// Enqueued after style.scss.
//--------------------------------------------------------------
.wds-block-title {
	background-color: transparent;
} // .wds-block-title

//-----------------------------------------
// Title
//-----------------------------------------
.content-block-header {

	h2 {
		margin-bottom: 0;
	} // h2
} // .content-block-header
