//--------------------------------------------------------------
// STYLES
// CSS for both Frontend+Backend.
//--------------------------------------------------------------
@import '../../../sass/variables';

.wp-block-wdsblocks-starter {
	padding: 3rem;
} // .wp-block-wdsblocks-starter
