//--------------------------------------------------------------
// Editor Styles
//
// Additional styles necessary to assist the editor.
// Enqueued after style.scss.
//--------------------------------------------------------------
.wds-background-options {

	.blocks-base-control {
		width: 100%;
	} // .blocks-base-control

	.components-button {

		svg {
			position: relative;
			top: 5px;
		} // svg
	} // .components-button
} // .wds-background-options
