//--------------------------------------------------------------
// Block Styles
//
// Default styles for this block.
// Appears on both front and back-end.
//--------------------------------------------------------------

//-----------------------------------------
// Global Background Styles
//-----------------------------------------
.has-custom-background {
	padding: 20px;
} // .has-custom-background


//-----------------------------------------
// Video Background
//-----------------------------------------
.has-video-background {
	overflow: hidden;
	position: relative;

	.video-container {
		height: 100%;
		left: 50%;
		min-height: 100%;
		min-width: 100%;
		object-fit: none;
		object-position: center center;
		position: absolute;
		transform: translate(-50%, -50%);
		top: 50%;
		width: 100%;
		z-index: -1;
	} // .video-container
} // .has-video-background


//-----------------------------------------
// Image Background
//-----------------------------------------
.has-image-background {
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
} // .has-image-background
