//--------------------------------------------------------------
// Colors
//--------------------------------------------------------------
$light-gray-100: #f8f9f9;
$black: rgb(41, 41, 41);
$white: #f4f4f4;
$gray: #dedede;
$green: #bada55;
$red: orangered;
$color-silver: #b1b1b1;