//--------------------------------------------------------------
// Global Block Styles (Editor/Backend)
//--------------------------------------------------------------
// sass-lint:disable property-units

// Give our blocks some breathing room in the editor for a better experience.
.wp-admin [data-type^='wds'] {
	margin-bottom: 30px;
	margin-top: 30px;
	max-width: none;
} // .wp-admin [data-type^="wds"]

// Custom video backgrounds.
.has-video-background {
	overflow: hidden;
	position: relative;

	.video-container {
		height: 100%;
		left: 50%;
		min-height: 100%;
		min-width: 100%;
		object-fit: none;
		object-position: center center;
		position: absolute;
		top: 50%;
		transform: translate(-50%, -50%);
		width: 100%;
		z-index: 1;

		~ * {
			position: relative;
			z-index: 2;
		}
	} // .video-container
} // .has-video-background


// Custom background styles.
.has-custom-background {
	background-position: center center;
	background-repeat: no-repeat;
	padding: 20px;

	// The should help the front end only to work out of the box.
	.site-content & {

		// Don't apply full-width styles if we have a sidebar.
		body:not(.has-sidebar) & {
			@include full-width;
		} // body:not(.has-sidebar) &
	} // .site-content &
} // .has-custom-background


// Custom font colors.
.has-custom-font-color {

	p {
		color: unset;
	} // p
} // .has-custom-font-color

// Ensure sidebar fields span 100% width.
.components-base-control {
	width: 100%;
} // .components-base-control
