.wds-components-placeholder {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding: 1em;
	min-height: 200px;
	text-align: center;
	font-family: $default-font;
	font-size: $default-font-size;
	background: $light-gray-100;
}

.wds-components-placeholder__label {
	display: flex;
	justify-content: center;
	font-weight: bold;
	margin-bottom: 1em;

	.icon {
		margin-right: 1ch;
	}
}

.wds-components-placeholder__fieldset,
.wds-components-placeholder__fieldset form {
	display: flex;
	flex-direction: row;
	justify-content: center;
	width: 100%;
	max-width: 280px;
	flex-wrap: wrap;

	p {
		font-family: $default-font;
		font-size: $default-font-size;
	}
}

.wds-components-placeholder__input {
	margin-right: 8px;
	flex: 1 1 auto;
}

.wds-components-placeholder__instructions {
	margin-bottom: 1em;
}
