@import '../../sass/mixins';

.wp-block-wdsblocks-accordion {
	@include edit-mode;
}

.editor-styles-wrapper {
	.wp-block-wdsblocks-accordion {
		&__title {
			position: relative;
			width: 100%;
			display: block;
			text-align: left;
			border: none;
			margin: 0;
			cursor: text;
			font-size: 22px;
		}
		&__content {
			display: block !important;
			height: auto !important;
		}
	}
}
