// Front-end styles.

.wdsblocks-accordion {
	&__title {
		position: relative;
		width: 100%;
		display: block;
		text-align: left;
		margin: 0;
		padding: 10px 0;
		line-height: 1.5;
		background: transparent;
		color: #000 !important;
		font-weight: 700;
		white-space: normal !important;
		&:after,
		&:before {
			width: 16px;
			height: 4px;
			background-color: #114aa5;
			display: block;
			content: '';
			position: absolute;
			top: 20px;
			right: 5px;
			transition: all 0.15s ease;
		}
		&:after {
			transform: rotate(-90deg);
		}
	}
	&__content {
		display: none;
		outline: none;
	}
	&.is-expanded {
		.wdsblocks-accordion__title {
			&:after {
				display: none;
			}
		}
		.wdsblocks-accordion__content {
			display: block;
		}
	}
}
