//--------------------------------------------------------------
// Editor Styles
//
// Additional styles necessary to assist the editor.
// Enqueued after style.scss.
//--------------------------------------------------------------
.editor-block-list__layout {

	.button.wds-button-component {
		background-color: transparent;
		border: none;
		box-shadow: none;
		height: unset;
		max-width: 280px;
		padding: 0;

		textarea {
			border-radius: 0;
			padding: 5px 10px;
		} // textarea

		form {
			padding: 0 10px;
			border-radius: 0;
		} // form
	} // .button.wds-button-component
} // .editor-block-list__layout
