//--------------------------------------------------------------
// Block Styles
//
// Default styles for this block.
// Appears on both front and back-end.
//--------------------------------------------------------------
.wp-block-wds-hero {
	background-repeat: no-repeat;
	background-size: cover;
	display: flex;
	flex-direction: column;
	justify-content: center;
	min-height: 640px;

	// The should help the front end only to work out of the box.
	.site-content & {

		// Don't apply full-width styles if we have a sidebar.
		body:not(.has-sidebar) & {
			@include full-width;
		} // body:not(.has-sidebar) &
	} // .site-content &
} // .wp-block-wds-hero
