@import '../../sass/mixins';

.wp-block-wdsblocks-accordion-group {
	@include edit-mode;
}

.editor-styles-wrapper {
	.wp-block-wdsblocks-accordion-group {
		padding: 1rem;
		&__title {
			width: 100%;
			display: block;
			text-align: left;
			margin: 0;
		}
		p {
			margin-bottom: 0;
		}
	}
}
