//--------------------------------------------------------------
// Related Posts Block Styles
//
// Default styles for this block.
// Appears on both front and back-end.
//--------------------------------------------------------------
