// WordPress editor styles.
$color-alabaster: #f9f9f9;
$color-gray: #808080;

.wp-block-wdsblocks-carousel {

	.is-selected &,
	.has-child-selected & {
		background: $color-alabaster;
		border: 1px dashed $color-gray;
		padding: 2rem;
	}
}
