/**
 * #.# Styles
 *
 * CSS for both Frontend+Backend.
 */

.wp-block-cmcgutenberg-editable-content-fifty-fifty {

	.content-block-container {
		display: flex;
	} // .content-block-container

	.content-block-content {
		flex: 0 1 50%;
		max-width: 50%;

		&:last-child {
			margin-left: 20px
		} // &:last-child
	} // .content-block-content
} // .wp-block-cmcgutenberg-editable-content-fifty-fifty
