//--------------------------------------------------------------
// Editor Styles
//
// Additional styles necessary to assist the editor.
// Enqueued after style.scss.
//--------------------------------------------------------------
.wds-other-options {

	.blocks-base-control {
		width: 100%;
	} // .blocks-base-control
} // .wds-other-options
