/**
 * #.# Styles
 *
 * CSS for both Frontend+Backend.
 */

.wp-block-wds-two-column {

	.content-block-container {
		display: flex;
		flex-direction: column;

		@include media($tablet-portrait) {
			flex-direction: row;
		}
	} // .content-block-container

	.content-block-content {
		flex: 1 1 100%;

		@include media($tablet-portrait) {
			flex: 0 1 50%;
			max-width: 50%;
		}

		&:last-child {
			@include media($tablet-portrait) {
				margin-left: 20px;
			}
		} // &:last-child
	} // .content-block-content
} // .wp-block-wds-two-column
